@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Amatic+SC|Shadows+Into+Light+Two)

$menu-background: rgb(66, 66, 66)
$menu-highlight: rgb(114, 114, 114)
$menu-height: 56px
$green: rgb(4, 168, 101)

h1
  font-size: 5rem
  line-height: 150%
h2
  font-size: 2rem

.nav
  font-family: Amatic SC
  top: 0
  position: fixed
  width: 100%
  background-color: $menu-background
  ul
    padding: 0 100px
    clear: none
  li
    padding: 20px 0
    text-align: center
    float: left
    color: white
    width: 25%

    &:hover
      background-color: $menu-highlight

.content
  margin-top: $menu-height

.section
  padding: 50px 300px

.home
  font-family: Shadows Into Light Two
  text-align: center
  padding: 200px 0
  background-color: $green
  color: white
